<!-- start: TEXT FIELDS PANEL -->
<article class="panel panel-default">
    <section class="panel-heading">
        <i class="fa fa-external-link-square"></i> search
        <div class="panel-tools">
            <a id="collapses" class="btn btn-xs btn-link panel-collapse collapses" href="#">
            </a>
            <a id="refresh" class="btn btn-xs btn-link panel-refresh" href="#">
                <i class="fa fa-refresh"></i>
            </a>
            <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </section>
    <section class="panel-body">
        <form role="form" class="form-horizontal">
            <article class="form-group col-sm-12">
                <section class="col-sm-6">
                    <label class="col-sm-4 control-label" for="appChnName">应用中文名</label>
                    <section class="col-sm-6">
                        <input type="text" id="appChnName" name="appChnName" class="form-control" [(ngModel)]="applicationVo.appChnName" placeholder="应用中文名">
                    </section>
                </section>
                <section class="col-sm-6">
                    <label class="col-sm-4 control-label" for="appEngName">应用英文名</label>
                    <section class="col-sm-6">
                        <input type="text" id="appEngName" name="appEngName" class="form-control" [(ngModel)]="applicationVo.appEngName" placeholder="应用英文名">
                    </section>
                </section>
            </article>
            <article class="form-group col-sm-12">
                <section class="col-sm-6">
                    <label class="col-sm-4 control-label" for="appOwner">应用负责人</label>
                    <section class="col-sm-6">
                        <input type="text" id="name" name="appOwner" class="form-control" [(ngModel)]="applicationVo.appOwner" placeholder="应用负责人">
                    </section>
                </section>
                <section class="col-sm-6">
                    <label class="col-sm-4 control-label" for="remark">备注</label>
                    <section class="col-sm-6">
                        <input type="text" id="remark" name="remark" class="form-control" [(ngModel)]="applicationVo.remark" placeholder="备注">
                    </section>
                </section>
            </article>
            <article class="form-group col-sm-12">
                <section class="text-center">
                    <button type="button " class="btn btn-primary btn-squared " (click)="search()">查询</button>
                </section>
            </article>
        </form>
    </section>
</article>
<table-component [pageSize]="10" [onSelectPage]="onSelectPage" [checkModel]="true" [updateModel]="true" [deleteModel]="true"></table-component>
<!-- end: TEXT FIELDS PANEL -->